* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-flow: column nowrap;
}


/* grid that holds the squares */
.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
}

/* properties of child squares */
.square {
    border: 1px solid black;
    padding: 10px;
}

/* change color of square on hover
.square:hover {
    background-color: black;
} */